<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ThiTracNghemUDCNTT.Properties.Settings.MTTestConnectionString" connectionString="Data Source=YOUR_SERVER_NAME\SQLEXPRESS;Initial Catalog=MTTest;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy ="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
